[submodule "fso-part3"]
	path = part3
	url = https://github.com/segtreebruh/fso-part3.git
[submodule "fso-part4"]
	path = part4
	url = https://github.com/segtreebruh/fso-part4
[submodule "fso-part5"]
	path = fso-part5
	url = https://github.com/segtreebruh/fso-part5
[submodule "part5"]
	path = part5
	url = https://github.com/segtreebruh/fso-part5
